.about-section {
  margin-top: 11%;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 7px solid green; */
}

.about-content {
  margin-top: 0;
  /* border: 7px solid yellow; */
}

.heading-about-me {
  width: 100%;
  margin: auto;
  position: relative;
  /* border: 7px solid red; */
}

.about-me {
  color: var(--pale-blue);
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 100px;
  /* border: 2px solid rgb(255, 0, 255); */
}

.about-me-subhead {
  font-size: 26px;
  color: var(--pale-blue);
  font-weight: 300;
  margin-bottom: 30px;
}

.about-me-text p {
  position: relative;
  font-size: 18px;
  font-weight: 200;
  padding-top: 15px;
  text-align: left;
  color: var(--pale-blue);
  line-height: 34px;
  width: 65%;
  margin: auto;
  text-align: justify;
  /* border: 2px solid rgb(255, 0, 255); */
}

@media screen and (max-width: 2000px) {
  .about-section {
    margin-top: 7%;
    margin-bottom: 100px;
   }
  }

@media screen and (max-width: 1200px) {
  .about-section {
    margin-top: 12%;
  }
}

@media screen and (max-width: 992px) {
  .about-section {
    margin-top: 15%;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    margin-top: 16%;
  }

  .about-me {
    margin: 0;
    padding: 0;
  }

  .about-me-subhead {
  font-size: 23px;
  color: var(--pale-blue);
  font-weight: 400;
  margin-bottom: 30px;
  padding: 0;
  }

  .about-me-text p {
  font-size: 16px;
  padding-top: 15px;
  line-height: 34px;
  width: 63%;
  }
}

@media screen and (max-width: 576px) {
  .about-section {
    margin-top: 22%;
  }

  .about-me {
    margin: 0;
    padding: 0;
    font-size: 72px;
  }

  .about-me-subhead {
  font-size: 20px;
  color: var(--pale-blue);
  font-weight: 400;
  margin-bottom: 30px;
  padding: 0;
  }

  .about-me-text p {
  font-size: 16px;
  padding-top: 15px;
  line-height: 34px;
  width: 75%;
  }
}

@media screen and (max-width: 430px) {
  .about-section {
    margin-top: 30%;
    margin-bottom: 0;
  }

  .about-me {
    margin-bottom: 20px;
  }

  .about-me-subhead {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
  }

  .about-me-text p {
  line-height: 35px;
  width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .about-section {
    margin-top: 25%;
    margin-bottom: 70px;
  }

  .about-me {
  font-size: 66px;
  margin-bottom: 20px;
}

  .about-me-subhead {
  font-size: 14px;
  color: var(--pale-blue);
  font-weight: 600;
  letter-spacing: .02rem;
  margin-bottom: 18px;
  padding: 0;
  }

  .about-me-text p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 30px;
  width: 80%;
  letter-spacing: .03rem;
  }
}