body {
  background: rgb(0,2,63);
  background: linear-gradient(45deg, rgba(0,2,63,1) 0%, rgba(27,17,66,1) 24%, rgba(48,25,114,1) 43%, rgba(68,52,100,1) 61%, rgba(139,50,89,1) 82%, rgba(204,114,54,1) 100%);
}

.hero-container {
  position: relative;
  height: auto;
  margin-top: 10%;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 5px solid green; */
}

.hero-section {
  position: relative;
  margin: 0 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
  width: auto;
  justify-content: center;
  /* border: 5px solid red; */
}

.image-container {
  margin: 0;
  position: relative;
  width: auto;
  object-fit: cover;
  /* border: 3px solid purple; */
}

img {
  width: 600px;
}

.hero-content {
  margin: 45px 0;
  width: 37%;
  position: relative;
  /* border: 3px solid yellow; */
}

h1 {
  color: var(--pale-blue);
  font-weight: 600;
  font-size: 112px;
  line-height: 124px;
  margin-bottom: 8px;
  /* text-shadow: 0px 0px 15px black; */
}

h1 .thinner-heading {
  font-weight: 200;
}

.hero-content h4 {
  color: var(--pale-blue);
  font-size: 34px;
  font-weight: 200;
  text-shadow: 0px 0px 8px black;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.subhead-title {
  font-size: 29px;
  color: var(--pale-blue);
  font-weight: 200;
  margin-bottom: 50px;
  line-height: 60px;
}

.hero-buttons {
  margin-bottom: 25px;
}

.portfolio-button {
  background: rgb(217,67,50);
  background: linear-gradient(0deg, rgba(217,67,50,1) 9%, rgba(228,87,49,1) 38%, rgba(234,145,77,1) 73%, rgba(254,198,11,1) 100%);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 8px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--background-color-white);
  text-transform: uppercase;
  transition: all 0.3s;
  /* box-shadow: 0px 0px 15px black; */
}

.portfolio-button:hover {
  opacity: 40%;
}

.contact-button {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--pale-blue);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  color: var(--background-color-white);
  text-transform: uppercase;
  transition: 0.3s;
  /* box-shadow: 0px 0px 15px black; */
}

.contact-button:hover {
  opacity: 40%;
}

/* @media screen and (max-width: 1800px) {
  .hero-content {
    padding-top: 25%;
   }
}

@media screen and (max-width: 1200px) {
  .hero-section {
    height: 70vh;
  }

  .hero-content {
    padding-top: 25%;
   }

  .image-container {
    margin-top: 0px;
    top: -55px;
  }

  .hero-content h1 {
    font-size: 38px;
    line-height: 55px;
  }

  .hero-content h4 {
    font-size: 22px;
  }

} */

/* @media screen and (max-width: 992px) {
  .hero-content {
    padding-top: 50%;
   }

}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 55vh;
  }

  .hero-content {
    padding-top: 35%;
   }

  .hero-content h1 {
    font-size: 33px;
    line-height: 50px;
    padding-top: 13px;
  }

  .hero-content h4 {
    font-size: 20px;
  }

  .image-container {
    top: -150px;
  }

  .portfolio-button, .contact-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .hero-section {
    height: 65vh;
    margin-bottom: 220px;
  }

  .hero-content {
    padding-top: 20%;
   }

  .image-container {
    top: 20px;
    scale: 205%;
  }

  .hero-content h1 {
    font-size: 24px;
    line-height: 40px;
    padding-top: 13px;
    padding-bottom: 20px;
  }

  .hero-content h4 {
    font-size: 16px;
  }

  .portfolio-button, .contact-button {
    padding: 8px 18px;
  }
}

@media screen and (max-width: 390px) {
  .hero-section {
    margin-bottom: 200px;
    height: 90vh;
  }

  .hero-content {
    padding-top: 60%;
   }

  .image-container {
    top: 160px;
    scale: 220%;
  }

  .hero-content h1 {
    margin: auto;
    width: 100%;
    font-size: 25px;
    line-height: 45px;
    padding-top: 7px;
    padding-bottom: 25px;
    letter-spacing: .03rem;
  }

  .hero-content h4 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .03rem;
  }

  .portfolio-button, .contact-button {
    padding: 6px 16px;
  }
} */
