.about-section {
  margin-top: 11%;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 7px solid green; */
}

.about-content {
  margin-top: 0;
  /* border: 7px solid yellow; */
}

.heading-about-me {
  width: 100%;
  margin: auto;
  position: relative;
  /* border: 7px solid red; */
}

.about-me {
  color: var(--pale-blue);
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  /* border: 2px solid rgb(255, 0, 255); */
}

.about-me-subhead {
  font-size: 26px;
  color: var(--pale-blue);
  font-weight: 300;
  margin-bottom: 30px;
}

.about-me-text p {
  position: relative;
  font-size: 18px;
  font-weight: 200;
  padding-top: 15px;
  text-align: left;
  color: var(--pale-blue);
  line-height: 34px;
  width: 65%;
  margin: auto;
  /* border: 2px solid rgb(255, 0, 255); */
}