body {
  background-color: var(--accent-color-black);
}

/* .hero-container {
  border: 5px solid green;
} */

.hero-section {
  margin-top: 150px;
  position: relative;
  height: 80vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 360px;
  /* border: 5px solid red; */
}

.image-container {
  position: absolute;
  background-image: url("/src/assets/full-size-website-background-03.jpg");
  height: 100vh;
  width: 100%;
  /* top: 0; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -1;
  margin-top: 55px;
  /* border: 5px solid yellow; */
  scale: 130%;
}

.hero-content {
  padding-top: 35%;
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 5;
  /* border: 5px solid purple; */
}

.hero-content h1 {
  color: var(--accent-color-pale-grey);
  font-weight: 600;
  font-size: 46px;
  line-height: 70px;
  padding: 13px 0 38px 0;
  text-shadow: 0px 0px 15px black;
}

.hero-content h4 {
  color: var(--accent-color-green);
  font-size: 28px;
  font-weight: 300;
  text-shadow: 0px 0px 8px black;
  letter-spacing: 1px;
}

.portfolio-button {
  background-color: var(--accent-color-md-purple);
  border: 1px solid var(--accent-color-md-purple);
  padding: 10px 20px;
  margin: 0 8px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--accent-color-green);
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: 0px 0px 15px black;
}

.portfolio-button:hover {
  color: var(--accent-color-pale-grey);
  border: 1px solid var(--accent-color-green);
  background-color: var(--accent-color-purple);
}

.contact-button {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--accent-color-pale-grey);
  padding: 10px 20px;
  margin: 0 0 0 8px;
  font-size: 16px;
  font-weight: 300;
  color: var(--accent-color-pale-grey);
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: 0px 0px 15px black;
}

.contact-button:hover {
  background-color: var(--accent-color-green);
  color: var(--accent-color-black);
  border: 1px solid var(--accent-color-green);
}

@media screen and (max-width: 1800px) {
  .hero-content {
    padding-top: 25%;
   }
}

@media screen and (max-width: 1200px) {
  .hero-section {
    height: 70vh;
  }

  .hero-content {
    padding-top: 25%;
   }

  .image-container {
    margin-top: 0px;
    top: -55px;
  }

  .hero-content h1 {
    font-size: 38px;
    line-height: 55px;
  }

  .hero-content h4 {
    font-size: 22px;
  }

}

@media screen and (max-width: 992px) {
  .hero-content {
    padding-top: 50%;
   }

}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 55vh;
  }

  .hero-content {
    padding-top: 35%;
   }

  .hero-content h1 {
    font-size: 33px;
    line-height: 50px;
    padding-top: 13px;
  }

  .hero-content h4 {
    font-size: 20px;
  }

  .image-container {
    top: -150px;
  }

  .portfolio-button, .contact-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .hero-section {
    height: 65vh;
    margin-bottom: 220px;
  }

  .hero-content {
    padding-top: 20%;
   }

  .image-container {
    top: 20px;
    scale: 205%;
  }

  .hero-content h1 {
    font-size: 24px;
    line-height: 40px;
    padding-top: 13px;
    padding-bottom: 20px;
  }

  .hero-content h4 {
    font-size: 16px;
  }

  .portfolio-button, .contact-button {
    padding: 8px 18px;
  }
}

@media screen and (max-width: 390px) {
  .hero-section {
    margin-bottom: 200px;
    height: 90vh;
  }

  .hero-content {
    padding-top: 60%;
   }

  .image-container {
    top: 160px;
    scale: 220%;
  }

  .hero-content h1 {
    margin: auto;
    width: 100%;
    font-size: 25px;
    line-height: 45px;
    padding-top: 7px;
    padding-bottom: 25px;
    letter-spacing: .03rem;
  }

  .hero-content h4 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .03rem;
  }

  .portfolio-button, .contact-button {
    padding: 6px 16px;
  }
}
