.portfolio-section {
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 15%;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid purple;
}

.heading {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 75px;
}

.heading h1 {
  color: var(--pale-blue);
  font-weight: 600;
  font-size: 46px;
  line-height: 70px;
  letter-spacing: .06rem;
  padding: 0;
}


.heading .portfolio-subhead {
  font-size: 22px;
  font-weight: 400;
  line-height: 2.4rem;
}

.heading p {
  color: var(--pale-blue);
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 2rem;
  font-style: italic;
}

.bold-text {
  font-weight: 400;
}