/* HEADER & NAVIGATION MENU */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-purple);
  backdrop-filter: blur(10px);
  padding: 18px 24px 12px 24px;
  position: fixed;
  top: 0;
  z-index: 10;
  margin: auto;
}

.logo-section {
  display: flex;
  align-items: center;
}

.new-dronet-logo {
  width: 25px;
  height: 25px;
  margin-left: 7px;
  padding: 0;
}

.dronet-bold {
  color: var(--pale-blue);
  font-weight: 400;
  font-size: 16px;
  padding-right: 3px;
}

.dronet-title {
  position: relative;
  top: -2px;
  margin-left: 6px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(225, 251, 255, .6);
  letter-spacing: .06rem;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 10px;
}

.nav-menu li a {
  font-size: 15px;
  font-weight: 400;
  color: rgba(225, 251, 255, 0.5);
  text-transform: uppercase;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.nav-menu li a:hover {
  color: var(--pale-blue);
}

.nav-menu li a:focus {
  color: var(--pale-blue);
}

#dronet-resume {
  border: 1px solid rgba(225, 251, 255, 0.5);
  padding: 4px 15px;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

#dronet-resume:hover{
  background-color: rgba(225, 251, 255, 0.2);
  color: var(--pale-blue);
}

.hamburger-menu {
    display: none;
}
/* END HEADER */

/* MEDIA QUERIES */
@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-purple);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 18px 0;
  }

  .nav-menu li a {
    font-size: 22px;
  }

  .nav-menu li a:hover {
    letter-spacing: 2px;
  }

  #dronet-resume {
  border: none;
  }

  .hamburger-menu {
    display: initial;
    cursor: pointer;
  }
}

@media screen and (max-width: 390px) {
  .header {
    height: 55px;
  }

  .new-dronet-logo {
  width: 18px;
  height: 18px;
  }

  .dronet-title {
  position: relative;
  top: -2px;
  margin-left: 4px;
  font-size: 13px;
  }

  .subtitle {
  font-size: 13px;
  font-weight: 400;
  color: var(--accent-color-lt-grey);
  }
}

/* @media screen and (max-width: 769px) {

} */

/* @media screen and (max-width: 481px) {

} */

/* @media screen and (max-width: 320px) {

} */