/* IMPORTED FONTS FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* ROOT COLOR PALETTE */
:root {
  --background-color-white: #ffffff;
  --accent-color-green: #CAF906;
  --accent-color-purple: #4102C9;
  --accent-color-md-purple: #5214ff;
  --accent-color-lt-purple: #6d44ff;
  --accent-color-pale-purple: #aa9aff;
  --accent-color-black: #000000;
  --accent-color-darker-grey: #1b1e22;
  --accent-color-dark-grey: #2C3036;
  --accent-color-med-grey: #606974;
  --accent-color-lt-grey: #A4ACB7;
  --accent-color-pale-grey: #DFE2E6;
  --text-color-lt-grey: #ebf1f7;
  /* NEW COLORS */
  --dark-purple: #110036;
  --darkest-blue: #00023f;
  --dark-blue: #1b1142;
  --drk-purple: #301972;
  --medium-purple: #443464;
  --drk-magenta: #8b3259;
  --med-orange: #cc7236;
  --pale-blue: #E1FBFF;
  /* BUTTON GRADIENT COLORS */
  --red-orange: #d94332;
  --drk-orange: #E45731;
  --orange: #ea914d;
  --yellow: #fec60b;
}

/* GLOBAL STYLES FOR APP */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

